body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}

.container-title {
    background-image: url(../assets/design1_image1.jpg);
    width: 80vw;
    height: 40vh;
    background-position-y: 26%;
    background-size: cover;
    margin: auto;
    margin-top: 12vh;
    font-size: 25px;
    position: relative;
}

.logo {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 85%;
    right: 5%;
    filter: drop-shadow(2px 5px 5px #222);
}

h2 {
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 0;
    width: 80vw;
    height: 30px;
    margin: auto;
}

.main {
    display: flex;
    width: 80vw;
    margin: auto;
}

.navbar {
    display: flex;
}

.navbar>ul {
    margin-top: 40px;
    width: 200px;
    padding: 0%;
}

.navbar>ul>li {
    list-style-type: none;
    margin-bottom: 30px;
}

.text {
    margin-top: 40px;
}

h4 {
    margin: 0;
}

p {
    margin: 0;
}

.textindent {
    text-indent: 2rem;
}

.top-heading {
    text-align: center;
    margin: 40px;
}

.rules-content {
    margin: 0%;
    padding: 0%;
}

.rules-content>h4 {
    margin: 20px 0 10px 0;
}

ol {
    margin: 0%;
    padding: 0%;
}

ol>li {
    margin-bottom: 20px;
    list-style-position: inside;
}

.ol-IHF>li::marker {
    font-weight: bold;
}

.ol-IHF>li>span {
    font-weight: bold;
}

.ul-IHF {
    margin: 0%;
    padding: 0%;
}

.ul-IHF>li {
    list-style-type: lower-alpha;
}

.ul-allplay {
    list-style-type: circle;
    list-style-position: inside;
    margin: 0;
    padding-left: 40px;

}